
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 7.5rem 1rem 7.5rem;
    gap: 6rem;
}

.footer__item__1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.footer__item__1__social{
    color: #ffff;
    margin-right: 1.5rem;
    font-size: 1.4rem;
}

.footer__list__1--item:nth-child(1),
.footer__list__1--item:nth-child(2),
.footer__list__1--item:nth-child(3){
    margin-bottom: 1rem;

}

.footer__list__1--link{
    font-size: 0.8rem;
    color: #7a7d7e;

}

.footer__list__1--link:hover{
    text-decoration: underline;
}

.footer__list__1--service{
    border: solid 1px #7a7d7e;
    padding: 0.5rem;
    text-align: center;
    width: 120px;
}

.footer__list__1--service__text{
    color: #7a7d7e;
    font-size: 0.8rem;
}

.service__text:hover{
    color: #ffff;
    cursor: pointer;
}
