
body{
    position: relative;
}
.header{
    width: 100vw;
    display: grid;
    padding: 1rem 4rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
    position: absolute;
    grid-template-columns: 10% 70% 20%;
}

.logo{
    width: 5.8rem;
}

.navBar__list{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.navBar__list_item--link{
    color: #ffffff;
    transition: all 0.5s;
}

.navBar__list_item--link:hover{
    color: #c4c3c3;
}

.navBar__list__extras{
    display: flex;
    color: #ffffff;
    align-items: center;
    gap: 1rem;
}

.navBar__list-extras-extra{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    position: relative;
}

.navBar__list__extras-user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.7rem 0 0;
    cursor: pointer;
    position: relative;
}

.navBar__image{
    border-radius: 3px;
}

.user__icon.active{
    transition: all 0.5s;
    transform: rotate(180deg);
}

.notifications__container{
    width: 370px;
    position: absolute;
    top: 20px;
    right: 0px;
    display: none;

}

.notifications__container.active{
    display: block;
}

.notification__container--icon{
    position: relative;
    right: -355px;
}

.notifications{
    background-color: #000000d8;
    width: 100%;
}

.notifications__item{
    display: flex;
    border: solid 1px #525252;
    padding: 1rem;
    gap: 1rem;
}

.notifications__item:nth-child(1){
    border-top: 2px solid;
}

.notifications__item:nth-child(2){
    border-top: none;
}

.notifications__item--image{
    border-radius: 5px;
}

.notifications__item__texts--title,
.notifications__item__texts--text{
    color: #ffffffd5;
    margin-bottom: 0.3rem;
}

.notifications__item__texts--text-small{
    font-size: 0.8rem;
    color:#525252 ;
}

.settings__container{
    width: 190px;
    position: absolute;
    top: 40px;
    right: 30px;
    display: none;
}

.settings__container.active{
    display: block;
}

.settings__container--icon{
    position: relative;
    right: -90%;
}

.settings{
    width: 100%;
    background-color: #000000d8;
    padding: 1rem 1.6rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    border: solid 1px #525252;
}

.settings__item{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.settings__box{
    width: 20%;
    text-align: center;
}

.settings__icons{
    font-size: 1.5rem;
    color: #888888;
}

.settings--link{
    color: #ffffff;

}

.settings--link:hover{
    text-decoration: underline;
}

.settings__btn{
    border: solid 1px #525252;
    border-top: none;
    outline: none;
    padding: 1rem;
    width: 225px;
    background-color: #000000d5;
}

.settings__btn--link{
    color: #ffffff;
}

.settings__btn--link:hover{
    text-decoration: underline;
}

/* @media (max-width:1000px) {
    .navBar__list{
        display: none;
    }
} */