

.header{
    width: 95%;
    display: flex;
    padding: 1rem 0 1rem 4rem;
    gap: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
    position: absolute;
    z-index: 2;
}
.header__logo{
    width: 5.8rem;
}

.header__navBar{
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar__list{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.navBar__list_item--link{
    color: #ffffff;
    transition: all 0.5s;
}

.navBar__list_item--link:hover{
    color: #c4c3c3;
}

.navBar__list__extras{
    display: flex;
    color: #ffffff;
    align-items: center;
    gap: 1rem;
}

.navBar__list-extras-extra{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.navBar__list__extras-user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.7rem 0 0;
    cursor: pointer;
}

/* @media (max-width:1000px) {
    .navBar__list{
        display: none;
    }
} */