
.my__lists{
    padding: 0 0 0 4rem;
}

.my__lists__title{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.my__lists__container{
    position: relative;
}

.my__lists__list{
    display: flex;
    gap: 0.8rem;
}

.tmda:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.my__lists__list--image{
    width: 20rem;
    border-radius: 3.5px;
}

.mod{
    padding-top: 4rem;
}

.move{
    font-size: 2rem;
    position: relative;
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.493);
    display: inline-block;
    padding: 5rem 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.move:hover{
    background-color: rgba(0, 0, 0, 0.705);
}
.move__to_left{
    top: -190px;
}

.move__to_right{
    right: -92%;
    top: -190px;
}

@media (max-width:1440px){
    .move__to_right{
        right: -89%;
    }
    
}


@media (max-width:1150px){
    .move__to_right{
        right: -87%;
    }
    
}