
.my__lists{
    padding: 0 0 0 4rem;
}

.my__lists__title{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.my__lists__list{
    display: flex;
    gap: 0.8rem;
}

.my__lists__list--image{
    width: 20rem;
    border-radius: 3.5px;
}

.mod{
    padding-top: 4rem;
}