
@import url(../css/reset.css);
@import url(../css/header.css);
@import url(../css/myList.css);
@import url(../css/footer.css);

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: auto;
}
.app{
    width: 100vw;
    background-image: linear-gradient(to bottom, #000000 5%,#000000f5 20%,#000000 80%, #000000 100% );
    height: 100%;
}

.banner__1{
    height: 700px;
    background-image: linear-gradient(to bottom, #000000bd 5%,#0000007c 20%,#00000069 80%, #000000 100% ), url(../assets/banner1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    z-index: 1;
    box-shadow: 10px 5px 20px black;
}

.banner__1__left{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
}

.banner__left__img{
    width: 40%;
}

.banner__1__left--description{
    font-size: 1rem;
    color: #ffffff;
    width: 40%;
    margin-top: 1rem;
    line-height: 1.3rem;

}

.banner__btns{
    width: 50%;
    margin-top: 2.5rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.banner__btn--play{
    background-color: #ffffff;
    padding: 0.8rem 1.5rem;
    color: #000000;
    font-weight: 600;
    border-radius: 0.18rem;
    transition: all 0.5s;
    margin-right: 1rem;
    text-align: center;
}

.banner__btn--play:hover{
    background-color: #c4c3c3;
}

.banner__btn--info{
    background-color: #74747496;
    padding: 0.8rem 2rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.18rem;
    transition: all 0.5s;
}

.banner__btn--info:hover{
    background-color: #74747452;

}